<li>
  <p class="handle">handle</p>
  <div class="nested-form-wrapper flex items-center" data-new-record="<%= form.object.new_record? %>">

    <div class="my-5">
      <%= form.label :description, class: "label" %>
      <%= form.text_field :description, class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>

    <div class="my-5">
      <%= form.label :quantity , class: "label" %>
      <%= form.number_field :quantity, class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>

    <div class="my-5">
      <%= form.label :unit_price , class: "label" %>
      <%= form.text_field :unit_price, class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>

    <div class="my-5">
      <%= form.label :total_price , class: "label" %>
      <%= form.text_field :total_price, class: "input input-bordered input-primary w-full max-w-xs" %>
    </div>

    <div class="my-5">
      <button type="button" data-action="nested-form#remove", class="btn-circle text-red-500">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>
    </div>
    <%= form.hidden_field :_destroy %>
  </div>
</li>
